import React, { FunctionComponent } from "react";

type Props = {
};

const {{pascalCase name}}View: FunctionComponent<Props> = (props) => (
    <div>
        {{pascalCase name}}
    </div>
);

export default {{pascalCase name}}View;